body{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    background-color: rgb(3, 141, 134);
}
h1{
    font-size: 50px;
}
.color{
    color: rgb(90, 53, 40);
}
.flex-container{
    display: flex;
    margin-bottom: 100px;
}
.half-width{
    width: 50%;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 70px;
    text-align: justify;
    color: rgb(7, 20, 78);
}
.half-width img{
    width: 80%;
}
.button{
    text-decoration: none;
    background-image: linear-gradient(orangered, rgb(221, 42, 42));
    padding: 10px 50px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
}
.top{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.dream{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}